.Welcome {
  --color-while: #f0f0f0;
  --color-black: #424242;
  --color-primary: #008b8b;
  --color-secoundary: #c4ebeb;
  --bg-selected: var(--color-while);

  min-height: 100vh;
  line-height: 1.8;
  color: var(--color-black);
  background-color: var(--color-while);
}

/* HEADER */

.Welcome .header {
  background-color: var(--color-primary);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%);
  padding: 6rem 0 calc(6rem + 3vw);
  margin: 0 0 6vw;
}

.Welcome .header-title {
  text-align: center;
  font-size: min(4.5rem, 20vw);
  color: var(--bg-selected);
  text-shadow: 2px 2px 5px #5a5a5a;
  margin: 0;
}

/* CENTER-BOX */

.Welcome .center-box {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-size: 1.5rem;
}


/* COLORS */

.bg-primary {
  --bg-selected: var(--color-primary);
  background-color: var(--color-primary);
}

.bg-secoundary {
  --bg-selected: var(--color-secoundary);
  background-color: var(--color-secoundary);
}

.color-white {
  color: var(--color-while);
}

/* RANDOM UTILS */

.bold {
  font-weight: bold;
}

.margin-left {
  margin-left: .5em;
}